<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ced9e8c5f9.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">

    <h1 class="mt-4">Welcome to Nucleus Segmentation Interface</h1>
    <div class="card mb-3 mt-4">
      <div class="card-header">
        Introduction
      </div>
      <div class="card-body">
        <h5 class="card-title">Nucleus Segmentation</h5>
        <p class="card-text">Automatic segmentation of microscope images is an important task in medical image processing and analysis.
         Nucleus segmentation is a very important example of this task, which can speed up the research of different diseases. We tried to use 3 kinds of framework to sovle this problem
        <ol>
            <li>CNN backbone + Transpose Convolution head.</li>
            <li>Fully Convolution Network(U-net)</li>
            <li>CNN backbone + Active Contour Adjustment(DALS)</li>
        </ol>
          based on 670 nucleus images dataset from Kaggle 2018 Datascience Bowl</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        Getting Started!
      </div>
      <div class="card-body">
        <h5 class="card-title">Nucleus segmentation interface</h5>
        <p class="card-text">In this beta version, you can test your own image through <a href="/upload">NS master</a></p>
      </div>

    </div>
    <div class="card mb-5">
      <div class="card-header">
        Reference
      </div>
      <div class="card-body">
        <h5 class="card-title">Papers</h5>
        <p class="card-text"><a href="https://link.springer.com/chapter/10.1007/978-3-030-32692-0_12">Deep Active Lesion Segmentation</a></p>
        <p class="card-text"><a href="https://arxiv.org/abs/1505.04597">U-Net: Convolutional Networks for Biomedical Image Segmentation</a></p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Data Source</h5>
          <p class="card-text"><a href="https://www.kaggle.com/c/data-science-bowl-2018/overview">2018 Data Science Bowl</a></p>
      </div>
    </div>
  </div>

{% include 'bottom.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>